<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Tech Blog</h1>
    {{#if loggedIn}}
      <a href="/dashboard">dashboard</a>
      <button id="logout" class="btn-no-style">logout</button>
    {{else}}
      <a href="/login">login</a>
    {{/if}}
    <main>
      {{{body}}}
    </main>
    <footer>
      Hope you enjoyed the Tech Blog!
    </footer>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>